font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    margin-left:10px ;
    margin-top: 3px;
    font-family: "ralewayregular",Arial ,Sans-Serif;
}
/*menu*/
li{
    list-style: none;
    margin: 2px;
}
.navigation{
    display:flex;
    flex-direction: row;
    position: absolute ;
    right:10px;
    top:3px;
    color:#0065fc;
    font-size:1em;
}
a{text-decoration:none;

}
a:hover{
    color:grey;
}
/*barre de recherche*/
form {
    display: flex;
    border-radius: 20px;
    height: 51px;
    padding: 19px 6px 6px 1px;
}
input {
    width: 12%;
    opacity: 1;
    height: 52px;
    font-size: 1em;
    padding: 0px 12px;
    border: #f2f2f2 solid 1px;
}
.rechercher {
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    border-radius: 0px 12px 12px 0px;
    }
form .rechercher {
     background-color: #0065fc;
    display: flex;
    align-items: center;
    height: 53px;
    width: 137px;
    justify-content: center;
    }
.rechercher:hover{
    background-color: lightslategray;
    color: #0065fc;
                }

.location{
        height:1em;
        color:black;
        background-color: #f2f2f2;
        width: 51px;
        height: 53px;
        border-radius: 12px 0px 0px 12px;
        align-items: center;
        justify-content: center;
        display: flex;
        }


